/* fontawesome */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* Xeicon */
@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
/* font - 펴진고딕 */
@font-face {
  font-family: "PyeojinGothic-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* font - Sorts Mill Goudy */
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');

/* Reset CSS */
* {
  box-sizing: border-box;
  font-family: "ChosunGu";
}
a {
  text-decoration: none;
  color: #222;
}
input,
button {
  border: none;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

/* Default CSS */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  color: #222;
  background-color: #fff;
}
section {
  /* padding-bottom: 100px; */
  padding: 100px 0;
}

/* Common CSS */
:root {
  --inner-width: 1200px;
}
.headline {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}
.headline h1 {
  font-size: 50px;
  position: relative;
  font-weight: bold;
  color: #5D4037;
}
.headline h1::before {
  content: "";
  position: absolute;
  background-color: #5D4037;
  width: 150px;
  height: 2px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.headline span {
  color: #795548;
  position: relative;
}
.headline a {
  position: absolute;
  right: 15px;
  color: #795548;
}

/* -------------------- Header -------------------- */
header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 10;
}
header.active {
  background-color: #ffffff;
  display: none;
}
.header-inner {
  /* border: 1px solid #000; */
  width: var(--inner-width);
  height: 90px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
/* left gnb */
.left-gnb {
  /* border: 1px solid #000; */
  padding-top: 50px;
}
/* logo */
.logo {
  /* border: 1px solid #000; */
  padding-top: 15px;
}
.logo a img {
  width: 120px;
}
/* right gnb */
.right-gnb {
}
.right-gnb > div {
  /* border: 1px solid #000; */
  height: 50%;
  padding-top: 10px;
}
.right-gnb .gnb-top {
  text-align: right;
  padding-right: 20px;
}
.right-gnb .gnb-top select {
  background-color: #fff;
  border: #fff;
}
.right-gnb .gnb-top em {
  font-style: normal;
  font-size: 12px;
}
.right-gnb .gnb-top a {
  font-weight: normal;
  font-size: 12px;
  margin: 0 10px;
}
/* gnb 공통 */
.left-gnb a,
.right-gnb a {
  /* border: 1px solid #000; */
  margin: 0 20px;
  font-weight: bold;
  color: #555;
}

/* -------------------- Section - Welcome -------------------- */
.welcome {
  padding: 0;
}
.welcome img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #999;
  position: absolute;
}
.welcome-nextbt {
  right: 170px;
}
.welcome-prevbt {
  left: 170px;
}
/* .swiper-button-next:after {
  right: 170px;
} */
/* .swiper-button-prev:after {
  left: 170px;
} */
/* -------------------- Section - stay -------------------- */
.stay {
  padding-top: 0;
}
.stay-inner {
  width: var(--inner-width);
  height: 80px;
  margin: auto;
  display: flex;
}
.stay-check {
  flex: 8;
  display: flex;
  align-items: flex-end;
  border-bottom: 2px solid #D7CCC8;
  padding-bottom: 10px;
  text-align: center;
}
.stay-box {
  width: 20%;
}
.stay-box-n {
  width: 8%;
}
.stay-box span,
.stay-box-n span {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #5D4037;
}
.stay-box a,
.stay-box-n a {
  text-align: center;
}
.stay-search {
  flex: 1;
  padding: 18px 0 0 18px;
}
.stay-search button {
  width: 100%;
  height: 100%;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  background-color: #3E2723;
}
/* -------------------- Section - newhot -------------------- */
.newhot {
  padding-top: 0;
}
.newhot-inner {
  width: var(--inner-width);
  margin: auto;
}
/* newhot-top */
.newhot-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 370px;
  gap: 25px;
}
.top-photo {
  position: relative;
  cursor: pointer;
}
.top-photo img {
  width: 100%;
  height: 100%;
}
.top-dsc {
  position: absolute;
  bottom: 0;
  padding: 0 20px;
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: #00000025;
  transition: 0.3s;
}
.top-dsc:hover {
  background-color: #ffffff14;
}
.top-dsc p {
  padding-top: 260px;
  margin-bottom: 7px;
}
.top-dsc h2 {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 5px;
}
/* newhot-bottom */
.newhot-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 90px 260px;
  gap: 25px;
  margin-top: 80px;
}
.bottom-photo {
  position: relative;
  cursor: pointer;
}
.bottom-photo:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}
.bottom-photo:nth-child(3) {
  grid-row: 2/4;
}
.bottom-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bottom-photo:nth-child(1) img {
  object-position: 0 -400px;
}
.bottom-dsc {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 20px;
}
.bottom-dsc p {
  padding-top: 260px;
  margin-bottom: 7px;
}
.bottom-dsc h2 {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 5px;
}
.bottom-dsc span {
  display: block;
}
/* -------------------- Section - event -------------------- */
.event {
  background-color: #efebe9;
}
.event-inner {
  width: var(--inner-width);
  margin: auto;
}
.event-content {
  position: relative;
}
.event-content .swiper-slide {
  cursor: pointer;
}
.event-content .swiper-slide:hover h2 {
  color: #a1887f;
}
.event-content .swiper-slide img {
  width: 380px;
  height: 380px;
}
.event-content .swiper-slide span {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #a1887f;
}
.event-content .swiper-slide h2 {
  margin: 10px 0;
  font-size: 22px;
  opacity: 0.2s;
}
.event-content .swiper-slide p {
  padding-bottom: 40px;
  margin: 0;
  font-size: 16px;
  color: #795548;
}
.event-nextbt,
.event-prevbt {
  position: absolute;
  top: 38%;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 0px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}
.swiper-pagination-bullet-active {
  background-color: #5d4037;
  width: 20px;
  border-radius: 10px;
}
/* -------------------- Section - notice -------------------- */
.notice-inner {
  width: var(--inner-width);
  margin: auto;
  display: flex;
  position: relative;
}
.notice-inner:after {
  content: '더보기 +';
  position: absolute;
  right: 3%;
  bottom: 103%;
  cursor: pointer;
}
.notice-inner > div {
  border-top: 3px solid #795548;
  margin: 0 30px;
}
.notice-title {
  flex: 2;
}
.notice-title h1 {
  font-size: 40px;
}
.notice-content {
  flex: 8;
}
.notice-content a {
  display: block;
  padding: 20px 0;
  border-bottom: 1px solid #EFEBE9;
  transition: 0.3s;
}
.notice-content a:hover {
  background-color: #efebe956;
}
.notice-content a em {
  padding: 0 10px;
}
/* -------------------- Section - sono -------------------- */
.sono {
  background-color: #3a3331;
  padding: 60px 0;
}
.sono-inner {
  width: var(--inner-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.sono-content h2 {
  color: #D2B48C;
  font-family: "Sorts Mill Goudy", serif;
  font-variant: small-caps;
}
.sono-content a {
  display: block;
  padding: 7px 0;
  color: #D7CCC8;
  font-size: 15px;
}
.sono-content a:hover {
  color: #BCAAA4;
}
/* -------------------- footer -------------------- */
footer {
  background-color: rgb(81, 70, 66);
} 
.footer-inner {
  width: var(--inner-width);
  margin: auto;
  color: #D7CCC8;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  font-size: 14px;
}
.footer-top a {
  margin-right: 20px;
  color: #D7CCC8;
}
.footer-top .sns {
  margin-right: 10px;
  font-size: 20px;
}
.footer-bottom {
  padding: 20px 0;
  line-height: 2em;
  font-weight: 300;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.footer-bottom .company a {
  color: #D7CCC8;
}
.footer-bottom .company a:hover {
  color: #BCAAA4;
}
.footer-bottom .company span {
  display: block;
}
.footer-bottom .company span em {
  font-style: normal;
  margin: 10px;
}
.footer-bottom .tel {
  border: 1px solid #d7ccc829;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}
.footer-bottom .tel span {
  margin: 0 5px;
}
.footer-bottom .tel em {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  margin-right: 5px;
}
/* -------------------- Go To Top -------------------- */
.top {
  position: fixed;
  right: 20px;
  bottom: -50px;
  text-align: center;
  line-height: 40px;
}
.top.active {
  right: 20px;
  bottom: 20px;
}
.top a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #333;
  opacity: 0.5;
  color: #fff;
  border-radius: 10px;
  transition: 0.3s;
}
.top a:hover {
  opacity: 0.7;
}
  /* -------------------- qick-menu -------------------- */
  .qick-menu {
    display: none;
  }
  /* -------------------- side-menu -------------------- */
  .side-menu {
    display: none;
  }
  .trigger {
    display: none;
  }
