/* XEicon CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/*  Font - Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Font - SUIT-Medium 한글*/
@font-face {
  font-family: "SUIT-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Font - Sorts Mill Goudy 영어*/
@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap");

/* Common CSS */
:root {
  --inner-width: 1280px;
  --color-highlight: #ffe4c4; /* 네비비포 타이틀 */
  --color-bright-yarrow: #fdcb6e; /* 헤더엑티브 */
  --color-amber: #fff8e1; /* 홈 배경색 */
  --font-color-gray: rgb(102, 102, 102); /* 홈 p태그 */
  --color-lime: #9e9d24;
}
.section-inner {
  width: var(--inner-width);
  margin: auto;
}
.section-title {
  text-align: center;
}
.section-title h1 {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 60px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.section-title h1::after {
  content: "";
  position: absolute;
  background-color: var(--color-highlight);
  width: 100%;
  height: 30px;
  bottom: -2px;
  left: 0;
  z-index: -1;
}

/* Reset CSS */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
  color: #222 !important;
}
button,
input {
  border: none;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}
em {
  font-style: normal;
}

/* Default CSS */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #fff;
  color: #222;
  font-family: "SUIT-Medium";
}
section {
  padding: 100px;
}

/* -------------------- Header -------------------- */
header {
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: 0.5s;
}
header.active {
  background-color: var(--color-bright-yarrow);
  opacity: 0.9;
}
.header-inner {
  width: var(--inner-width);
  margin: auto;
  height: 80px;
  line-height: 80px;
  display: flex;
  justify-content: space-between;
}
.logo {}
.logo a img {
  width: 105px;
  display: block;
}
nav {}
nav a {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 30px;
  position: relative;
}
nav a:before {
  content: "";
  position: absolute;
  background-color: var(--color-highlight);
  width: 0;
  height: 12px;
  bottom: -2px;
  transition: 0.5s;
  z-index: -1;
}
nav a:hover:before {
  width: 100%;
}
/* -------------------- Section - home -------------------- */
.home {
  padding-top: 130px;
  background-color: var(--color-amber);
}
.home-wrap {
  height: 605px;
  position: relative;
}
.home-wrap > div {
  border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
}
.home-text {
  border: 2px solid goldenrod;
  width: 80%;
  height: inherit;
  padding: 110px 80px 80px 120px;
  margin: 0 40px;
  color: var(--font-color-gray);
  position: absolute;
}
.home-text:nth-child(2) {
  transform: rotate(5deg);
}
.home-text span {
  font-size: 24px;
}
.home-text h2 {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 80px;
  font-weight: bold;
  margin: 5px 0;
  color: #222;
}
.home-text p {
  line-height: 1.8em;
  font-size: 18px;
  margin: 0;
}
.home-photo {
  width: 340px;
  height: 400px;
  overflow: hidden;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}
.home-photo:hover img {
  transform: scale(1.05);
}
.home-photo img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: right;
  transition: 1s;
}
.home-deco {
  position: absolute;
  right: -70px;
  bottom: 20px;
}
.home-deco img {
  width: 250px;
}
/* -------------------- Section - skill -------------------- */
.skill {
  background-color: var(--color-amber);
}
.skill-content {
  height: 480px;
  padding: 20px 15px;
  margin-top: 10px;
}
.skill-box {
  width: 50%;
  height: 120px;
  float: left;
  margin-bottom: 40px;
}
.skill-box > span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.skill-box .name {
  width: 120px;
  text-align: center;
  padding-top: 50px;
  position: relative;
}
.skill-box:nth-child(4) .name,
.skill-box:nth-child(5) .name,
.skill-box:nth-child(6) .name {
  padding-top: 39px;
}
.skill-box .name:after {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border: 5px solid var(--color-highlight);
  border-radius: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.skill-box .name em {
  display: block;
  color: #424242;
}
.skill-box .desc {
  width: 480px;
  line-height: 1.7em;
  padding: 7px 0 0 20px;
  color: var(--font-color-gray);
}
.skill-box:nth-child(1) .desc {
  padding-top: 20px;
}
.skill-box:nth-child(5) .desc,
.skill-box:nth-child(6) .desc {
  padding-top: 35px;
}
/* -------------------- Section - practical-pub -------------------- */
.practical-content {
  min-height: 520px;
}
.tab-btn {
  text-align: center;
  padding: 10px 0;
}
.tab-btn a {
  font-size: 20px;
  position: relative;
  z-index: 1;
  margin: 20px;
}
.tab-btn a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 12px;
  background-color: var(--color-highlight);
  bottom: -1px;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}
.tab-btn a.active:before {
  width: 100%;
}
.tabs {
  padding: 10px;
}
.tab {
  width: 100%;
  display: none;
}
.tab.active {
  display: block;
}
.practical-list a {
  margin: 20px;
}
.practical-list img {
  width: 314px;
  height: 180px;
  border: 1px solid #ddd;
}
.uk-icon svg {
  color: #fff;
}
/* -------------------- Section - web-pub -------------------- */
.web-pub {
  background-color: var(--color-amber);
}
.web-pub input {
  display: none;
}
.web-content {
  padding: 10px 0;
  text-align: center;
}
.web-btn {
  padding-bottom: 25px;
}
.web-btn label {
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.web-btn label:before {
  content: "";
  position: absolute;
  background-color: var(--color-highlight);
  width: 0;
  height: 12px;
  bottom: -1px;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}
.web-list {
  height: 370px;
}
.web-item {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 1280px;
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.mockup {
  flex: 6;
}
.mockup img {
  width: 620px;
}
.mockup-desc {
  flex: 4.5;
  text-align: left;
}
.web-desc {
  margin-bottom: 5px;
  padding-top: 110px;
}
.web-desc h2 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}
.web-desc span {
  display: block;
  line-height: 1.8em;
}
.web-desc span em {
  margin: 8px;
  color: var(--color-bright-yarrow);
}
.modal-btn a {
  margin: 10px;
  border: 1px solid var(--font-color-gray);
}
.web-pub input[id="web1"]:checked ~ .web-btn label[for="web1"]::before,
.web-pub input[id="web2"]:checked ~ .web-btn label[for="web2"]::before,
.web-pub input[id="web3"]:checked ~ .web-btn label[for="web3"]::before,
.web-pub input[id="web4"]:checked ~ .web-btn label[for="web4"]::before {
  width: 100%;
}
.web-pub input[id="web1"]:checked ~ .web-list .web-item:nth-child(1),
.web-pub input[id="web2"]:checked ~ .web-list .web-item:nth-child(2),
.web-pub input[id="web3"]:checked ~ .web-list .web-item:nth-child(3),
.web-pub input[id="web4"]:checked ~ .web-list .web-item:nth-child(4) {
  opacity: 1;
  visibility: visible;
}
.uk-modal-dialog button {
  background-color: #0000001c;
  border-radius: 10px;
  top: 10px;
  right: 30px;
}
.uk-modal-dialog button svg {
  color: #555;
}
/* .web-list {
  text-align: center;
}
.web-item {
  display: none;
  overflow: hidden;
}
.web-item > div {
  float: left;
}
.mockup {
  width: 60%;
  padding-left: 80px;
}
.mockup img {
  width: 620px;
}
.mockup-desc {
  text-align: left;
}
.web-desc {
  margin-bottom: 5px;
  padding-top: 110px;
}
.web-desc h2 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}
.web-desc span {
  display: block;
  line-height: 1.8em;
}
.web-desc span em {
  margin: 8px;
  color: var(--color-bright-yarrow);
}
.modal-btn {
}
.modal-btn a {
  margin: 10px;
  border: 1px solid var(--font-color-gray);
} */
/* -------------------- Footer -------------------- */
footer {
  height: 400px;
  background: var(--color-bright-yarrow);
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.github-info {
  text-align: center;
}
.github-info span {
  font-size: 26px;
}
.github-info h1 {
  font-weight: bold;
  position: relative;
  margin: 16px;
  font-size: 40px;
}
.github-info a {
  font-size: 22px;
  position: relative;
  z-index: 1;
}
.github-info a:before {
  content: "";
  position: absolute;
  background-color: var(--color-highlight);
  width: 0;
  height: 14px;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  transition: 0.5s;
}
.github-info a:hover:before {
  width: 190px;
}
.github-info a .fa {
  margin: 10px;
  font-size: 24px;
  animation: ani 1s linear infinite;
}
/* -------------------- Go TO Top -------------------- */
.top {
  position: fixed;
  right: 20px;
  bottom: -40px;
  transition: 0.5s;
}
.top.active {
  bottom: 20px;
  right: 20px;
}
.top a {
  width: 40px;
  height: 40px;
  line-height: 15px;
  display: block;
  border: 2px solid var(--color-lime);
  border-radius: 10px;
  text-align: center;
  padding-top: 6px;
  font-size: 13px;
  transition: 0.5s;
}
.top a:hover {
  background-color: var(--color-lime);
}
.top a:hover span {
  color: #fff;
}
.top a span {
  color: var(--color-lime);
  transition: 0.5s;
}
.top a span .fa {
  display: block;
}

/* -------------------- Footer - XEicon Animation -------------------- */
@keyframes ani {
  0% {
    transform: rotate(15deg) translate(-2px);
  }
  50% {
    transform: rotate(15deg) translate(2px);
  }
  100% {
    transform: rotate(15deg) translate(-2px);
  }
}
