/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* Xeicon */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
/* Web Font - LotteMartHappy */
@font-face {
  font-family: 'LotteMartHappy';
  font-style: normal;
  font-weight: 400;
  src: url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartHappy';
  font-style: normal;
  font-weight: 700;
  src: url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff') format('woff');
}

/* Reset CSS */
* {
  box-sizing: border-box;
  font-family: 'LotteMartHappy', sans-serif;
}
a {
  text-decoration: none;
  color: #222;
}
input, button {
  outline: none;
}
h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  font-weight: normal;
  line-height: 1.5em;
}

/* Default CSS */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  color: #222;
  margin: 0;
}
section {
  padding: 100px 0;
}

/* Common CSS */
.headline-share {
  text-align: center;
  padding-bottom: 30px;
}
.headline-share h1 {
  font-size: 38px;
}
.headline-share p {
  font-size: 18px;
  color: #777;
}

/* Section Display */
/* header {display: none;}
.modal {display: none;}
.welcome {display: none;}
.benefit {display: none;}
.ride {display: none;}
.parade {display: none;}
.special {display: none;}
footer {display: none;}
.top {display: none;} */

/* --------------------------- Header --------------------------- */
header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 50;
}
header.active {
  box-shadow: 0 1px 5px #0000002a;
}
.header-inner {
  width: 1400px;
  margin: auto;
  overflow: hidden;
  height: 100px;
  line-height: 100px;
}
.logo {
  float: left;
}
.logo img {
  width: 150px;
  padding-top: 6px;
}
.trigger {
  float: right;
  font-size: 32px;
  margin: 0 15px;
  padding-top: 3px;
}
.util {
  float: right;
}
.util a {
  margin: 10px;
  font-size: 17px;
  position: relative;
}
.util a:before {
  content: '';
  position: absolute;
  background-color: #F08080;
  width: 0;
  height: 3px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}
.util a:hover:before {
  width: 100%;
}
/* ---------------------- Section : Side Menu Modal --------------------- */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #FFE4E1;
  z-index: 60;
  width: 340px;
  height: 100vh;
  transition: 0.5s;
}
.modal.active {
  right: -340px;
}
.modal-inner {
  position: absolute;
  top: 0;
  right: 0;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 350px;
  font-size: 22px;
  color: #777;
}
.close-btn.active {
  display: none;
}
.modal-category {
  margin: 10px;
  width: 315px;
  padding: 10px;
}
.modal-category.active .modal-title:after {
  transform: rotate(-180deg);
}
.modal-category.active .modal-title h2:before {
  width: 100%;
}
.modal-title {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #F08080;
  position: relative;
}
.modal-title:after {
  content: '\e941';
  font-family: xeicon;
  position: absolute;
  right: 10px;
  top: 15px;
  transition: 0.5s;
}
.modal-title h2 {
  margin: 0;
  font-size: 22px;
  position: relative;
  display: inline-block;
  font-weight: bold;
}
.modal-title h2:before {
  content: '';
  position: absolute;
  width: 0;
  height: 5px;
  bottom: -12px;
  left: 0;
  transition: 0.5s;
  background-color: #F08080;
}
.modal-title h2:hover:before {
  width: 100%;
}
.modal-item {
  padding: 10px;
  display: none;
}
.modal-item a {
  display: block;
  padding-top: 5px;
  padding-bottom: 15px;
  transition: 0.3s;
  font-size: 18px;
  color: #444;
}
.modal-item a:hover {
  color: #F08080;
}
.modal-item a:last-child {
  padding-bottom: 0;
}
/* ---------------------- Section : welcome --------------------- */
.welcome {
  background-color: #F08080;
  height: 100vh;
  padding-top: 200px;
}
.welcome-inner {
  position: relative;
  width: 1400px;
  height: 450px;
  margin: auto;
}
.search,
.main-category {
  text-align: center;
}
.search {
  width: 650px;
  margin: auto;
  position: relative;
  margin-top: 20px;
}
.search:before {
  content:'\e97a';
  font-family: xeicon;
  position: absolute;
  font-size: 28px;
  left: 18px;
  top: 12px;
  color: #555;
}
.search input[type=text] {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  padding: 0 55px;
  font-size: 17px;
  border: none;
}
.search input[type=text]:focus::placeholder {
  opacity: 0;
}
.search input[type=text]::placeholder {
  transition: 0.5s;
}
.main-category {
  list-style: none;
  width: 800px;
  overflow: hidden;
  margin: auto;
  padding: 70px 0;
}
.main-category li {
  border: 1px solid #fff;
  display: inline-block;
  margin: 5px;
  width: 180px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 0;
  background-color: #F08080;
  transition: 0.5s;
}
.main-category li a {
  display: inline-block;
  width: inherit;
}
.main-category li img {
  width: 60px;
  filter: invert(100%) sepia(4%) saturate(0%) hue-rotate(250deg) brightness(107%) contrast(102%);
}
.main-category li span {
  font-size: 20px;
  display: block;
  color: #fff;
  padding-top: 5px;
}
.main-category li:hover {
  background-color: #fff;
}
.main-category li:hover img {
  filter: invert(89%) sepia(34%) saturate(1966%) hue-rotate(298deg) brightness(94%) contrast(101%);
}
.main-category li:hover span {
  color: #F08080;
}
.main-left img,
.main-right img {
  position: absolute;
  bottom: 0;
  width: 280px;
}
.main-left img {
  left: 0;
}
.main-right img {
  right: 0;
}
/* ---------------------- Section : benefit --------------------- */
.benefit {}
.benefit-inner {
  width: 1400px;
  margin: auto;
}
.benefit-content {
  text-align: center;
  padding: 10px 0;
}
.benefit-item {
  border: 2px solid #eee;
  display: inline-block;
  width: 300px;
  margin: 0 20px;
  padding: 15px;
  transition: 0.3s;
}
.benefit-item:hover {
  border: 2px solid #F08080;
  box-shadow: 10px 10px 20px #eee;
}
.benefit-item:hover a h2 {
  color: #F08080;
}
.benefit-item a {
  display: inline-block;
}
.benefit-item a img {}
.benefit-item a span {
  display: block;
  font-size: 19px;
  padding: 20px 0 10px 0;
  color: #F08080;
}
.benefit-item a h2 {
  font-size: 22px;
}
.benefit-btn {
  text-align: center;
  padding-top: 15px;
}
.benefit-btn button {
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #F08080;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.5s;
}
.benefit-btn button:hover {
  opacity: 1;
}
/* ---------------------- Section : ride --------------------- */
.ride {
  background-color: #FFE4E1;
}
.ride-inner {
  width: 1400px;
  margin: auto;
}
.ride-content {
  overflow: hidden;
  text-align: center;
}
.ride-btn {}
.ride-btn a {
  display: inline-block;
  width: 200px;
  text-align: center;
  border-radius: 30px;
  padding: 15px 20px;
  font-size: 18px;
  margin: 5px 10px 50px 10px;
  color: #F08080;
  background-color: #fff;
  transition: 0.3s;
}
.ride-btn a.active {
  background-color: #F08080;
  color: #fff;
}
.ride-tabs {}
.ride-list {
  display: none;
}
.ride-list.active {
  display: block;
}
.ride-item {
  display: inline-block;
  width: 250px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
}
.ride-item:hover {
  box-shadow: 10px 10px 20px #0000006e;
}
.ride-item img {
  width: inherit;
  display: block;
}
.item-content {
  background-color: #F08080;
  padding: 10px 15px;
  padding-bottom: 15px;
  transition: 0.3s;
}
.item-content h2 {
  color: #fff;
  margin-bottom: 10px;
  font-weight: 700;
}
.item-content span {
  color: #fff;
}
.item-btn {
  padding-top: 50px;
}
.item-btn button {
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #555;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}
.item-btn button:hover {
  opacity: 0.8;
}
/* ---------------------- Section : parade --------------------- */
.parade {
  background-color: #DCEDC8;
}
.parade-inner {
  width: 1400px;
  margin: auto;
  padding-bottom: 70px;
  position: relative;
}
.swiper {
  margin-top: 30px;
}
.swiper-wrapper {}
.swiper-slide {
  position: relative;
}
.swiper-slide:hover .desc {
  top: 0;
}
.swiper-slide .photo {
  width: inherit;
  overflow: hidden;
  transition: 0.5s;
}
.swiper-slide .photo img {
  width: inherit;
  display: block;
}
.swiper-slide .desc {
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #000000a1;
  top: 250px;
  color: #fff;
  padding: 20px;
  transition: 0.5s;
}
.swiper-slide .desc h2 {
  font-size: 20px;
}
.swiper-slide .desc p {
  display: block;
  height: 170px;
  line-height: 1.5em;
  font-size: 15px;
}
.swiper-slide .desc a {
  color: #fff;
  font-size: 22px;
  display: block;
  border-top: 1px solid #fff;
  padding-top: 20px;
}
.swiper-pagination {
  position: absolute;
  bottom: -50px;
}
.swiper-pagination-bullet {
  background-color: #C5E1A5;
  width: 50px;
  height: 10px;
  border-radius: 10px;
  opacity: 0.6;
  transition: 0.5s;
}
.swiper-pagination-bullet-active {
  background-color: #AED581;
  width: 100px;
  height: 13px;
  opacity: 1;
}
/* ---------------------- Section : special --------------------- */
.special {}
.special-inner {
  width: 1300px;
  margin: auto;
}
.special-content {
  overflow: hidden;
}
.special-content > div {
  width: 50%;
  float: left;
}
.special-left {
  padding-left: 35px;
}
.special-left .item {
  overflow: hidden;
}
.special-left .item .thum {
  float: left;
  width: 50%;
  text-align: center;
  padding: 20px 0;
}
.special-left .item .thum .photo {
  width: 250px;
  height: 180px;
  overflow: hidden;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 20px;
}
.special-left .item .thum .photo:hover {
  box-shadow: 5px 5px 15px #0000004f;
}
.special-left .item .thum .photo:hover img {
  transform: scale(1.1);
}
.special-left .item .thum .photo:hover + span {
  color: #F08080;
}
.special-left .item .thum .photo img {
  width: inherit;
  height: inherit;
  display: block;
  transition: 0.3s;
  object-fit: cover;
  cursor: pointer;
}
.special-left .item .thum span {
  font-size: 22px;
  transition: 0.3s;
}
.special-right {}
.special-right .news {
  background-color: #ddd;
}
.special-right .news, 
.special-right .app {
  padding: 0 30px;
  border-radius: 20px;
  margin: 20px;
  margin-bottom: 30px;
}
.special-right .news h2,
.special-right .app h2 {
  font-size: 24px;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 15px;
}
.special-right .news h2:after {
  content: '\e90b';
  font-family: xeicon;
  font-size: 18px;
  float: right;
  cursor: pointer;
  margin-top: -5px;
}
.special-right .news-content {
  padding-bottom: 20px;
  color: #555;
}
.special-right .news-content:hover a {
  text-decoration: underline;
}
.special-right .news-content span {
  font-size: 18px;
  color: #555;
}
.special-right .news-content em {
  float: right;
  padding-top: 1px;
  font-style: normal;
}
.special-right .app {
  position: relative;
  background-color: #FFE4E1;
}
.special-right .app h2 {
  margin-bottom: 5px;
}
.special-right .app span {
  display: inline-block;
  padding: 10px 16px 10px 0;
  margin: 0;
  color: #555;
}
.app-btn {
  padding: 10px 0 20px 0;
}
.app-store,
.google-play {
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #F08080;
  color: #fff;
  border: none;
  transition: 0.3s;
  border: 2px solid transparent;
}
.google-play {
  background-color: #fff;
  color: #F08080;
}
.app-store:hover {
  border: 2px solid #F08080;
  background-color: transparent;
  color: #F08080;
}
.google-play:hover {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}
.special-right .app img {
  position: absolute;
  right: 10px;
  bottom: 0;
  width: 200px;
}
/* --------------------------- Footer --------------------------- */
footer {
  background: #FFE4E1 url('./images/footer-img.png');
  background-repeat: no-repeat;
  background-position: bottom 0px right 170px;
  background-size: 350px 280px;
  padding-top: 50px;
  border-radius: 50px 50px 0 0;
}
.footer-inner {
  width: 1300px;
  margin: auto;
}
.footer-content {
  overflow: hidden;
}
.footer-content > div {
  float: left;
}
.footer-logo {
  width: 20%;
  text-align: center;
}
.footer-logo img {
  width: 110px;
}
.info {
  width: 25%;
}
.info h3,
.sns h3,
.help h3 {
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  position: relative;
}
.info h3:before,
.sns h3:before,
.help h3:before {
  content: '';
  position: absolute;
  background: #F08080;
  width: 100%;
  height: 3px;
  bottom: 0;
}
.info span,
.help span {
  display: block;
  padding-bottom: 15px;
  color: #555;
  font-size: 15px;
}
.sns-help {
  width: 30%;
}
.sns a {
  display: block;
  padding-bottom: 15px;
  color: #555;
  font-size: 15px;
}
.copyright {
  padding: 50px;
  padding-left: 260px;
}
.copyright a {}
.copyright em {
  font-style: normal;
}
.copyright span {
  margin: 15px;
}
/* --------------------------- Go To Top --------------------------- */
.top {
  position: fixed;
  bottom: -80px;
  right: 20px;
  box-shadow: 0 0 10px #F08080;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  z-index: 10;
  transition: 0.5s;
}
.top.active {
  bottom: 20px;
}
.top a {
  color: #F08080;
  display: block;
}

/* Scroll Reveal CSS Animation */
.utd {
  animation: utd 0.5s linear both;
}
.ltr {
  animation: ltr 0.5s linear both;
}
.rtl {
  animation: rtl 0.5s linear both;
}
@keyframes utd {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ltr {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rtl {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}