/* Font - Noto Sans Korean */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
  font-family: "Noto Sans KR", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #fff;
}
.dropdown {
  width: 200px;
}
.dropdown-btn {
  width: 100%;
  padding: 15px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 18px;
}
.dropdown-btn i {
  margin-right: 5px;
  vertical-align: text-top;
}
.dropdown-submenu {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.dropdown-submenu a {
  text-decoration: none;
  color: #333;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ddd;
  border-bottom: 1px solid #fff;
  font-size: 15px;
}
.dropdown-btn:hover + .dropdown-submenu,
.dropdown-submenu:hover {
  opacity: 1;
  visibility: visible;
}